<div class="container my-3">
    <div class="bg-clock py-4">
        <div class="row">
            <div class="col-md-8 align-self-center mx-auto">
                <div class="card shadow-sm">
                    <div class="card-body p-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <img src="../../../assets/images/search.png" width="20" alt="">
                                </span>
                            </div>
                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                            <div class="input-group-prepend">
                                <button class="btn btn-success border-redius-cusotm">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8">
            <div class="card">
                <div class="card-header card-lbk">
                    <h4 class="mb-0">Zaroori Hidayat</h4>
                </div>
                <div class="card-body">
                    <ol class="hidayat-list">
                        <li>Swaal maloom karne se pehle fatwa section me ek martaba apna jawab talash kar len.</li>
                        <li>Fuzool swalat ke jawab nahi diye jate isliye fuzool swaal karke apna waqt kharab na karen.
                        </li>
                        <li>Jawab E-mail ID par bheja jata hai isliye E-mail ID sahi darj karen.</li>
                        <li>Swaal mukhtasar aur saaf hona chahiye warna jawab me takheer ho sakti hai.</li>
                        <li>Jawab ka 15 din tak intazar farmayen kabhi kabhi swaalat zyadah hone ki wajah se jawab me
                            takheer ho jati hai.</li>
                        <li>Fatwa sawal ke mutabik hi diya jata hai isliye swaal puri sachchai aur diyanat dari se
                            likhen, agar jhut aur fareb se koi fatwa hasil kiya to uska sara gunah sawal pochne wale par
                            hoga.</li>
                        <li>Baz sawalat ke jawab maslehtan nahi diye jate hain.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 text-center">
            <div class="card">
                <div class="card-header card-lbk">
                    <h4 class="mb-0">Respected Mufti's</h4>
                </div>
                <div class="card-body">
                    <div class="alert alert-info mb-0" role="alert">
                        <h6 class="mb-2">Hazrat Mufti Majdul Quddus</h6>
                        <h6 class="mb-0 fw-bold">Khubaib Rumani Saheb (D.B.)</h6>
                        <hr>
                        <h6 class="mb-2">Hazrat Mufti Muhammad</h6>
                        <h6 class="mb-0 fw-bold">Iliyas Saheb Qasmi (D.B.)</h6>
                        <hr>
                        <h6 class="mb-2">Hazrat Mufti Muhammad</h6>
                        <h6 class="mb-0 fw-bold">Hamza Khan sb. (D.B.)</h6>
                        <hr>
                        <h6 class="mb-2">Hazrat Mufti Sayyad</h6>
                        <h6 class="mb-0 fw-bold">Ahtishamul Hasan Sb. Azmi (D.B.)</h6>
                        <hr>
                        <h6 class="mb-2">Hazrat Mufti Muhammad</h6>
                        <h6 class="mb-0 fw-bold">Mujahid Khairabadi</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>