.input-group-text {
    padding: 8px 0.75rem;
    border-radius: 4px 0 0 3px;
}

.border-redius-cusotm {
    border-radius: 0px 5px 5px 0px !important;
}

.card-lbk {
    background: rgb(221, 172, 84);
    background: linear-gradient(0deg, #241700 0%, #714904 100%);
    color: #fff;
}

.hidayat-list {
    font-size: 0.8rem;
    line-height: 2;
    font-weight: 500;
    text-align: justify;
    margin-left: 0;
    padding-left: 1rem;
    margin-bottom: 0;
}