<div class="container py-4">
	<div class="card shadow-sm">
		<div class="card-header text-center card-lbk px-0">
			<p class="text-white border-bottom-dotted mb-0 font-24">Islahi Ash'aar</p>
		</div>
		<div class="p-0 p-sm-3 card-body">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr class="bg-light">
							<th scope="col">Title</th>
							<th class="text-center d-none d-sm-table-cell" scope="col">Date</th>
							<th class="text-center d-none d-sm-table-cell" scope="col">Size</th>
							<th class="text-center" scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let clip of dataShortClipList">
							<td class="majlis">
								<div [routerLink]="'../BayanDetail'" (click)="gotoTop()">
									<div class="fw-semibold text-truncate text-truncate-20">{{ clip.Title }}</div>
									<span class="date d-block d-sm-none">{{ clip.UrUploadDate | date: 'dd/MM/y' }} - {{ clip.FileSize }}</span>
								</div>
							</td>
							<td class="text-center d-none d-sm-table-cell">
								<div>
									{{ clip.UrUploadDate | date: 'dd/MM/y' }}
								</div>
							</td>
							<td class="text-center d-none d-sm-table-cell">
								<div>
									{{clip.FileSize}}
								</div>
							</td>
							<td class="text-center verticale-align pb-0">
								<ul class="social-icons mb-0 d-flex align-items-center justify-content-center">
									<li>
										<a title="Download" class="social-square" (click)="downloadFile(clip.UrMp3Path, clip.UrTitle)">
											<i class="fa fa-cloud-download" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a title="Share" class="social-square">
											<i class="fa fa-share-alt-square" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</td>							
						</tr>
					</tbody>
				</table>
			</div>

			<div class="p-2 p-sm-0">
				<div class="d-flex justify-content-between flex-wrap">
					<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="2"
						[rotate]="true" [boundaryLinks]="true" (pageChange)="onPageChange()">
					</ngb-pagination>
				
				
					<select class="form-select form-select-sm" style="width: auto" [(ngModel)]="pageSize"
						(ngModelChange)="onPageSizeChange()">
						<option [ngValue]="5">5 Bayaan Per Page</option>
						<option [ngValue]="10">10 Bayaan Per Page</option>
						<option [ngValue]="20">20 Bayaan Per Page</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</div>
