<div class="container py-4">
	<div class="row">
		<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4">
			<select class="form-select form-select-border shadow-sm rounded-1" [(ngModel)]="selectedCategory" (change)="onCategoryChange($event)"
				aria-label="Default select example">
				<option value="All Ashaar">All Ash'aar</option>
				<option value="Munajat">Munajaat</option>
				<option value="Hamd">Hamd</option>
				<option value="Naat">Naat Paak</option>
				<option value="Nazm">Nazm</option>
			</select>
		</div>
		<div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4">
			<input type="text" class="form-control shadow-sm rounded-1" placeholder="Search Bayaan by Title" [(ngModel)]="searchTerm" (input)="onSearchChange()" />
		</div>
	</div>

	<div class="card shadow-sm">
		<div class="card-header text-center cardHeadingHeader px-0 pb-1">
			<div>
				<p class="text-white mb-1 font-24">{{ selectedCategory }}</p>
			</div>
		</div>
		<div class="p-0 p-sm-3 card-body">
			<div *ngIf="loading" class="text-center">
				<img src="assets/images/Spinner.svg" width="100" alt="">
			</div>
			<div class="table-responsive" *ngIf="!loading">
				<!-- Table -->
				<table class="table table-bordered" *ngIf="dataMolanaBayanList && dataMolanaBayanList.length > 0">
					<thead>
						<tr class="bg-light">
							<th scope="col">Title</th>
							<th class="text-center d-none d-sm-table-cell" scope="col">Date</th>
							<th class="text-center d-none d-sm-table-cell" scope="col">Size</th>
							<th class="text-center" scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let bayan of dataMolanaBayanList">
							<td class="majlis" (click)="openBayanModal(bayan, bayanModal);">
								<!-- (click)="viewBayanDetails(bayan.MolanaBayanId)" -->
								<div>
									<div class="fw-semibold text-truncate-20" [title]="bayan.Title">
										{{ bayan.Title }}
									</div>
									<span class="date d-block d-sm-none">
										{{ bayan.UploadDate | date: 'dd/MM/y' }} - {{	bayan.FileSize }}
									</span>
								</div>
							</td>
							<td class="text-center d-none d-sm-table-cell">
								{{ bayan.UploadDate | date: 'dd/MM/y' }}
							</td>
							<td class="text-center d-none d-sm-table-cell">
								{{ bayan.FileSize }}
							</td>
							<td class="text-center verticale-align pb-0">
								<ul class="social-icons mb-0 d-flex align-items-center justify-content-center">
									<li>
										<a title="Download" class="social-square"
											(click)="downloadFile(bayan.UrMp3Path, bayan.UrTitle)">
											<i class="fa fa-cloud-download" aria-hidden="true"></i>
										</a>
									</li>
									<li>
										<a title="Share" class="social-square">
											<i class="fa fa-share-alt-square" aria-hidden="true"></i>
										</a>
									</li>
								</ul>
							</td>
						</tr>
					</tbody>
				</table>

				<!-- Show "No Record Found" if dataMolanaBayanList is empty -->
				<div *ngIf="dataMolanaBayanList && dataMolanaBayanList.length === 0" class="text-center">
					<p class="mb-0 py-2">No Record Found</p>
				</div>
			</div>
			<div class="d-flex justify-content-between align-items-center flex-wrap p-2 p-sm-0 ngbPagination">
				<ngb-pagination class="mb-3 mb-sm-0 mx-auto mx-sm-0"  [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
				[maxSize]="2" [rotate]="true" [boundaryLinks]="true" (pageChange)="onPageChange()">
				</ngb-pagination>

				<select class="form-select shadow-none" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()">
					<option [ngValue]="5">5 Bayaan Per Page</option>
					<option [ngValue]="10">10 Bayaan Per Page</option>
				</select>
			</div>
		</div>
	</div>
</div>

<!-- Modal template -->
<ng-template #bayanModal let-modal>
	<div class="modal-header px-0 pt-3 pb-2 cardHeadingHeader">
		<div class="w-100">
			<marquee behavior="scroll" direction="left" scrollamount="4">
                <p class="text-white mb-0 w-100 d-flex fw-semibold">{{ selectedBayan?.Title }}</p>
            </marquee>
		</div>
    </div>
	<div class="modal-body">
		<!-- Loader when audio is loading -->
        <div *ngIf="loadingAudio" class="text-center">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <p class="text-success mt-2">Audio is loading, please wait...</p>
        </div>

        <!-- Audio element with event bindings -->
        <audio [src]="audioUrl" (canplay)="onAudioLoad()" (error)="handleAudioError()" (waiting)="loadingAudio = true" autoplay controls class="w-100 mb-3">
        </audio>
		<p class="font-16"><strong>Date :</strong> {{ selectedBayan?.UploadDate | date: 'dd/MM/y' }}</p>
		<p class="font-16"><strong>File Size :</strong> {{ selectedBayan?.FileSize }}</p>
		<p class="font-16"><strong>Voice :</strong> {{selectedBayan.Voice}}</p>
		<p class="font-16"><strong>Catagory :</strong> {{selectedBayan.Catagory}}</p>
		<p class="font-16 mb-0"><strong>Description :</strong> {{ selectedBayan?.Descriptions }}</p>
	</div>
	<div class="modal-footer d-flex align-items-center justify-content-center">
		<!-- Download Button -->
		<a class="actionbtns"
			(click)="downloadFile(selectedBayan?.UrMp3Path, selectedBayan?.Title)">
			<i class="fa fa-cloud-download" aria-hidden="true"></i> Download
		</a>

		<!-- Share Button -->
		<a class="actionbtns" (click)="shareBayan(selectedBayan)">
			<i class="fa fa-share-alt" aria-hidden="true"></i> Share
		</a>

		<!-- Close Button -->
		<a class="actionbtns" (click)="modal.close()">Close</a>
	</div>
</ng-template>
  
  