<div class="card shadow-sm border-0">
    <div class="card-header p-0">
        <div class="sub-head">
            <h6 class="mb-0">Arif Billah Hazrat Aqdas</h6>
            <h5 class="mb-0">Hazrat Wala (D.B.)</h5>
        </div>
    </div>
    <div class="card-body p-0 majlist-card-body">
        <div *ngIf="loading" class="text-center py-4">
            <img src="../../../assets/images/Spinner.svg" width="100" alt="">
        </div>
        <div *ngIf="!loading">
            <div class="majlis" *ngFor="let bayan of dataMolanaBayanList">
                <a (click)="openBayanModal(bayan, bayanModal);">
                    <div class="row">
                        <div class="col-9 align-self-center">
                            <p class="mb-0 text-truncate">{{ bayan.Title }}</p>
                            <p class="mb-0 bayan-date-color">
                                {{ bayan.UploadDate | date: 'dd/MM/yyyy' }} - {{ bayan.FileSize }}
                            </p>
                        </div>
                        <div class="col-3 align-self-center pl-0-resp-maj">
                            <div class="text-center text-nowrap">
                                <a (click)="downloadFile(bayan.UrMp3Path, bayan.UrTitle)" class="mr-2" title="Download">
                                    <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                </a>
                                <a href="" title="Click to share">
                                    <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="py-2 text-center">
            <button class="btn btn-primary view-more" (click)="gotoTop()" routerLink="../AllMajalisBayan">
                View More...
            </button>
        </div>
    </div>
</div>

<ng-template #bayanModal let-modal>
    <div class="modal-header card-lbk">
        <p class="text-white mb-0 w-100 d-flex fw-semibold">
            <marquee behavior="scroll" direction="left" scrollamount="4">
                <p class="text-white mb-0 w-100 d-flex fw-semibold">{{ selectedBayan?.Title }}</p>
            </marquee>
        </p>
    </div>
    <div class="modal-body">
        <audio [src]="audioUrl" autoplay controls class="w-100 mb-3" (error)="handleAudioError()"></audio>
        <p *ngIf="audioError" class="text-center text-danger font-14 fw-semibold">Audio file unavailable, Please try again later</p>
        <p class="font-16"><strong>Date :</strong> {{ selectedBayan?.UploadDate | date: 'dd/MM/y' }}</p>
        <p class="font-16"><strong>File Size :</strong> {{ selectedBayan?.FileSize }}</p>
        <p class="font-16"><strong>Voice :</strong> {{selectedBayan.Catagory}}</p>
        <p class="font-16 mb-0"><strong>Description :</strong> {{ selectedBayan?.Description }}</p>
    </div>
    <div class="modal-footer d-flex align-items-center justify-content-center">
        <a class="actionbtns" (click)="downloadFile(selectedBayan?.UrMp3Path, selectedBayan?.Title)">
            <i class="fa fa-cloud-download" aria-hidden="true"></i> Download
        </a>
        <a class="actionbtns" (click)="shareBayan(selectedBayan)">
            <i class="fa fa-share-alt" aria-hidden="true"></i> Share
        </a>
        <a class="actionbtns" (click)="modal.close()">Close</a>
    </div>
</ng-template>