<div class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4 mb-sm-0">
                <h3 class="mb-5">About Baitulmaarif</h3>
            </div>
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3536.336424555635!2d80.6758898!3d27.5830976!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399ed5a75bbe78bf%3A0x104d6cd28b0f4c92!2sAl-Jamiatul%20Ashrafiyah%20Baitul%20Ma&#39;arif!5e0!3m2!1sen!2sin!4v1725439052669!5m2!1sen!2sin"
                    class="w-100 shadow img-thumbnail" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>