<div class="bg-light py-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-6 align-self-center mb-5">
                <h3 class="mb-5">Total Visitors</h3>
                <div class="subs-count">
                </div>
            </div>
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3465.764632384087!2d77.67340414579347!3d29.697602843484876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ea46aa5efaf23%3A0x1ceafce3de3e712e!2zRGFydWwgVWxvb20gRGVvYmFuZCAo2KfZhNis2KfZhdi524Mg2KfZhNin2LPZhNin2YXbjNuBINiv2KfYsdin2YTYudmE2YjZhSDYr9uM2YjYqNmG2K8p!5e0!3m2!1sen!2sin!4v1665833338080!5m2!1sen!2sin"
                    class="w-100 shadow-sm" height="300" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>