<div class="modal-body p-0 text-center position-relative">
    <i class="fa fa-times-circle fa-2x text-danger btn-div position-absolute bg-white rounded-circle d-flex align-items-center justify-content-center" aria-hidden="true" (click)="closeModal()"></i>
    <div class="WeeklyMajalisModal py-2">
        <p class="mb-0 text-white fw-bold font-24">Live Broadcasting Schedule</p>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered mb-0">
            <tbody>
                <tr>
                    <td class="bg-body-secondary fw-semibold font-18">Sunday</td>
                    <td></td>
                    <td class="font-18 fw-semibold">
                        <p class="mb-0 font-16 fw-semibold">Weekly <br> Islahi Bayan</p>
                        <p class="mb-0 fw-semibold font-12 text-danger">(After Zohar)</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bg-body-secondary fw-semibold font-18">Monday</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bg-body-secondary fw-semibold font-18">Tuesday</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bg-body-secondary fw-semibold font-18">Wednesday</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bg-body-secondary fw-semibold font-18">Thursday</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <p class="mb-0 font-16 fw-semibold">Weekly <br> Jumerat Majlis</p>
                        <p class="mb-0 fw-semibold font-12 text-danger">(After Isha)</p>
                    </td>
                </tr>
                <tr>
                    <td class="bg-body-secondary fw-semibold font-18">Friday</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="bg-body-secondary fw-semibold font-18">Saturday</td>
                    <td></td>
                    <td>
                        <p class="mb-0 font-16 fw-semibold">Weekly <br> Juma Majlis</p>
                        <p class="mb-0 fw-semibold font-12 text-danger">(After Juma)</p>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>