<div class="footer-bg1">
    <div class="footer-bg text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 footer-links mb-5 mb-sm-0">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-4">
                            <h5 class="text-white font-18">Home</h5>
                            <hr class="bg-white">
                            <ul class="pl-4 footer-menu-cursor lh-lg">
                                <li>
                                    <a class="text-white font-16 text-decoration-none">Audio</a>
                                </li>
                                <li>
                                    <a class="text-white font-16 text-decoration-none">Al-Quran</a>
                                </li>
                                <li>
                                    <a class="text-white font-16 text-decoration-none">Video</a>
                                </li>
                                <li>
                                    <a class="text-white font-16 text-decoration-none">Books</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <h5 class="text-white font-18">Services</h5>
                            <hr class="bg-white">
                            <ul class="pl-4 footer-menu-cursor lh-lg">
                                <li>
                                    <a class="text-white font-16 text-decoration-none">Darul-Ifta</a>
                                </li>
                                <li>
                                    <a class="text-white font-16 text-decoration-none">Online Darse Nizami</a>
                                </li>
                                <li>
                                    <a class="nav-link text-white font-16 text-decoration-none" routerLink="./Contact" (click)="gotoTop()">Contact</a>
                                </li>
                                <li>
                                    <a class="text-white font-16 text-decoration-none">Live</a>
                                </li>
                                <li>
                                    <a class="text-white font-16 text-decoration-none">About Us</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="social-icons text-center d-none d-sm-block">
                        <a class="fa fa-twitter p-2 font-22 text-decoration-none m-1 rounded-circle"></a>
                        <a class="fa fa-google p-2 font-22 text-decoration-none m-1 rounded-circle"></a>
                        <a class="fa fa-telegram p-2 font-22 text-decoration-none m-1 rounded-circle"></a>
                        <a class="fa fa-whatsapp p-2 font-22 text-decoration-none m-1 rounded-circle"></a>
                    </div>
                </div>
                <div class="col-md-3 mb-5 mb-sm-0">
                    <h5 class="text-white font-18 text-center text-sm-start">Stay Updated</h5>
                    <hr class="bg-white mobie-width-form">
                    <p class="text-center text-sm-start">Subscribe for the latest updates and articles</p>
                    <form class="mobie-width-form">
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-sm" aria-label="name" placeholder="Enter Your Name">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control form-control-sm"  aria-label="email" placeholder="Enter Your Email">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-sm btn-warning px-3">Subscribe</button>
                        </div>
                    </form>
                </div>
                <div class="col-md-3">
                    <h5 class="text-white font-18 text-center text-sm-start">Your Opinion / Message</h5>
                    <hr class="bg-white mobie-width-form mb-3">
                    <form class="mobie-width-form">
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Your Name">
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control form-control-sm" placeholder="Enter Your City">
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control form-control-sm" aria-describedby="email" placeholder="Enter Your Email">
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control form-control-sm" placeholder="Your Opinion / Message"></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-sm btn-warning px-4">Send</button>
                        </div>
                    </form>
                    <div class="text-center mt-4">
                        <div class="social-icons text-center d-block d-sm-none">
                            <a class="fa fa-twitter p-2 font-22 text-decoration-none m-1 rounded-circle"></a>
                            <a class="fa fa-google p-2 font-22 text-decoration-none m-1 rounded-circle"></a>
                            <a class="fa fa-telegram p-2 font-22 text-decoration-none m-1 rounded-circle"></a>
                            <a class="fa fa-whatsapp p-2 font-22 text-decoration-none m-1 rounded-circle"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright py-2">
    <p class="mb-0 text-center text-dark font-14">&copy; Copyright {{currentYear}} baitulmaarif All Right Reserved.</p>
</div>
