<div class="card h-100 border-custom bg-transparent">
    <div class="card-header text-center cardHeadingHeader px-0 pb-1">
        <div>
            <p class="text-white mb-1 font-24">Aham Ta’leemat</p>
        </div>
    </div>
    <div class="card-body">
        <div *ngIf="loading" class="text-center py-4">
            <img src="assets/images/Spinner.svg" width="100" alt="">
        </div>
        <div *ngIf="!loading">
            <swiper class="py-0" [effect]="'cube'" [autoplay]="{ delay: 3000, disableOnInteraction: false }"
                [grabCursor]="true"
                [cubeEffect]="{ shadow: true, slideShadows: true, shadowOffset: 20, shadowScale: 0.94 }"
                [navigation]="true" [loop]="true">
                <ng-template swiperSlide *ngFor="let img of images">
                    <img *ngIf="img; else defaultImage" [src]="img" alt="Aham Taleemat Image" class="img-fluid object-fit-fill" />
                </ng-template>

                <!-- Default Image Template -->
                <ng-template #defaultImage>
                    <img src="assets/images/AhamTaleemDummy.png" class="img-fluid object-fit-fill" alt="Default Image" />
                </ng-template>
            </swiper>
        </div>
    </div>
</div>