<div class="bg-clock shadow d-block d-sm-none py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-7 align-self-center mx-auto">
                <search-anything></search-anything>
            </div>
        </div>
    </div>
</div>

<eng-top-slider></eng-top-slider>

<div class="bg-clock d-none d-sm-block pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7 align-self-center mx-auto">
                <search-anything></search-anything>
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container">
        <div class="row text-center py-0 py-sm-5">
            <div class="col-lg-3 col-md-4 mb-5 mb-sm-0">
                <h5 class="mb-3 mb-sm-5 fw-bold">Weekly Majalis</h5>
                <div class="card shadow-sm WeeklyMajalis weekly-majalis-div-resp" (click)="weeklyMajalis()">
                    <div class="card-body card-bayan-bg rounded">
                        <div class="d-flex align-items-center justify-content-center">
                            <i class="fa fa-calendar fa-3x me-4" aria-hidden="true"></i>
                            <p class="m-0 fw-700 font-22 Schedule">Schedule</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-4 mx-auto mb-5 mb-sm-0">
                <live-broadcasting-player></live-broadcasting-player>
            </div>
            <div class="col-lg-3 col-md-4 mb-5 mb-sm-0">
                <next-majlis-count></next-majlis-count>
            </div>
        </div>
    </div>
</div>

<div class="book-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3 col-md-12 mb-5 mb-sm-0">
                <latest-book></latest-book>
            </div>
            <div class="col-lg-5 col-md-12 mx-auto bg-transparent mb-5 mb-sm-0">
                <juma-bayaan-home-page></juma-bayaan-home-page>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="card bg-transparent border-custom">
                    <div class="card-header text-center cardHeadingHeader px-0 pb-1">
                        <div>
                            <p class="text-white mb-2 font-20 fw-semibold">Special Collection</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <aajkasabaq></aajkasabaq>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <latest-audio></latest-audio> -->
<div class="text-center">
    <div class="py-5" style="background-color: #fff3e0;">
        <h3 class="mb-4 fw-bold">Latest Audios</h3>
        <div class="container">
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                    <jumerat-majlis-home></jumerat-majlis-home>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                    <juma-majlis-home></juma-majlis-home>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-4">
                    <islahi-bayan-home></islahi-bayan-home>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-sm-0">
                <h3 class="text-center mb-4 fw-700">Majalis</h3>
                <majalis-home></majalis-home>
            </div>
            <div class="col-md-4 mb-5 mb-sm-0">
                <h3 class="text-center mb-4 fw-700">Bayanat</h3>
                <bayanat-arshad-home></bayanat-arshad-home>
            </div>
            <div class="col-md-4">
                <h3 class="text-center mb-4 fw-700">Bayanat</h3>
                <bayanat-mujahid-home></bayanat-mujahid-home>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5 shortclip-audio pt-0">
    <div class="container">
        <h3 class="text-center mb-0 mb-sm-4 fw-bold">Short Audio Clips</h3>
        <short-clip-home></short-clip-home>
    </div>
</div>

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 mx-auto">
                <img src="assets/images/border.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<div class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-sm-0">
                <h3 class="text-center mb-4 fw-700">Aham Bayanat</h3>
                <aham-bayanat-home></aham-bayanat-home>
            </div>
            <div class="col-md-4 mb-5 mb-sm-0">
                <h3 class="text-center mb-4 fw-700">Ash’aar</h3>
                <ashaar-home></ashaar-home>
            </div>
            <div class="col-md-3 mx-auto align-self-center">
                <aham-taleemat-home></aham-taleemat-home>
            </div>
        </div>
    </div>
</div>

<bless-your-soal></bless-your-soal>

<total-visitors></total-visitors>

<loader></loader>