<div class="bg-clock shadow d-block d-sm-none py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-7 align-self-center mx-auto">
                <search-anything></search-anything>
            </div>
        </div>
    </div>
</div>

<eng-top-slider></eng-top-slider>

<div class="bg-clock d-none d-sm-block pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7 align-self-center mx-auto">
                <search-anything></search-anything>
            </div>
        </div>
    </div>
</div>
<div class="bg-light">
    <div class="container">
        <div class="row text-center py-0 py-sm-5">
            <div class="col-lg-3 col-md-4 mb-5 mb-sm-0">
                <h5 class="mb-3 mb-sm-5 fw-bold">Weekly Majalis</h5>
                <div class="card shadow-sm WeeklyMajalis weekly-majalis-div-resp" (click)="weeklyMajalis()">
                    <div class="card-body card-bayan-bg rounded">
                        <div class="d-flex align-items-center justify-content-center">
                            <i class="fa fa-calendar fa-3x me-4" aria-hidden="true"></i>
                            <p class="m-0 fw-700 font-22 Schedule">Schedule</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-4 mx-auto mb-5 mb-sm-0">
                <live-broadcasting-player></live-broadcasting-player>
            </div>
            <div class="col-lg-3 col-md-4 mb-5 mb-sm-0">
                <next-majlis-count></next-majlis-count>
            </div>
        </div>
    </div>
</div>

<div class="book-section">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3 col-md-12 mb-5 mb-sm-0">
                <latest-book></latest-book>
            </div>
            <div class="col-lg-5 col-md-12 mx-auto bg-transparent mb-5 mb-sm-0">
                <juma-bayaan-home-page></juma-bayaan-home-page>
            </div>
            <div class="col-lg-3 col-md-12">
                <div class="card bg-transparent border-custom">
                    <div class="card-header card-lbk">
                        <h5 class="mb-0 border-bottom-dotted">Special Collection</h5>
                    </div>
                    <div class="card-body pt-0">
                        <aajkasabaq></aajkasabaq>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<latest-audio></latest-audio>

<div class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-sm-0">
                <h3 class="text-center mb-4 fw-700">Majalis</h3>
                <div class="card shadow-sm border-0">
                    <div class="card-header card-bayan p-0">
                        <div class="sub-head">
                            <h6 class="mb-0">Arif billah Hazrat Aqdas</h6>
                            <h5 class="mb-0">Mufti Muhammad Arshad Sb.D.B</h5>
                        </div>
                    </div>
                    <div class="card-body p-0 majlist-card-body">
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="py-2 text-center">
                            <button class="btn btn-primary view-more" (click)="gotoTop()" routerLink="../AhamBayanList">View More...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5 mb-sm-0">
                <h3 class="text-center mb-4 fw-700">Bayanat</h3>
                <div class="card shadow-sm border-0">
                    <div class="card-header card-bayan p-0">
                        <div class="sub-head">
                            <h6 class="mb-0">Arif billah Hazrat Aqdas</h6>
                            <h5 class="mb-0">Mufti Muhammad Arshad Sb.D.B</h5>
                        </div>
                    </div>
                    <div class="card-body p-0 majlist-card-body">
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="py-2 text-center">
                            <button class="btn btn-primary view-more" (click)="gotoTop()" routerLink="../AhamBayanList">View More...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-center mb-4 fw-700">Bayanat</h3>
                <div class="card shadow-sm border-0">
                    <div class="card-header card-bayan p-0">
                        <div class="sub-head">
                            <h6 class="mb-0">Mufti Muhammad</h6>
                            <h5 class="mb-0">Mujahid Khairabadi</h5>
                        </div>
                    </div>
                    <div class="card-body p-0 majlist-card-body">
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="py-2 text-center">
                            <button class="btn btn-primary view-more" (click)="gotoTop()" routerLink="../AhamBayanList">View More...</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light py-5 shortclip-audio pt-0">
    <div class="container">
        <h3 class="text-center mb-4 fw-bold">Short Audio Clips</h3>
        <short-clip-home></short-clip-home>
    </div>
</div>

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12 mx-auto">
                <img src="assets/images/border.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<div class="bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-5 mb-sm-0">
                <h3 class="text-center mb-4 fw-700">Aham Bayanat</h3>
                <div class="card shadow-sm border-0">
                    <div class="card-body p-0 majlist-card-body">
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="py-2 text-center">
                            <button class="btn btn-primary view-more"  (click)="gotoTop()" routerLink="../AhamBayanList">View More...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-5 mb-sm-0">
                <h3 class="text-center mb-4 fw-700">Ash’aar</h3>
                <div class="card shadow-sm border-0">
                    <div class="card-body p-0 majlist-card-body">
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="majlis">
                            <a [routerLink]="'../BayanDetail'" (click)="gotoTop()">
                                <div class="row">
                                    <div class="col-9 align-self-center">
                                        <p class="mb-0 text-truncate">01-Khun-e-Tamanna Se Khuda Milta hai</p>
                                        <p class="mb-0 bayan-date-color">(20-Nov-2022)</p>
                                    </div>
                                    <div class="col-3 align-self-center pl-0-resp-maj">
                                        <div class="text-center text-nowrap">
                                            <a href="" class="mr-2" title="Click Here to Download">
                                                <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                            </a>
                                            <a href="" title="Click to share">
                                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="py-2 text-center">
                            <button class="btn btn-primary view-more" (click)="gotoTop()" routerLink="../AhamBayanList">View More...</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mx-auto align-self-center">
                <div class="card h-100 border-custom bg-transparent">
                    <div class="card-header card-lbk text-center">
                        <h5 class="mb-0 border-bottom-dotted">Aham Ta’leemat</h5>
                    </div>
                    <div class="card-body pt-0 aham-teleem-div">
                        <swiper class="py-0" [effect]="'cube'" [autoplay]="{ delay: 3000, disableOnInteraction: false }" [grabCursor]="true" [cubeEffect]="{ shadow: true, slideShadows: true, shadowOffset: 20, shadowScale: 0.94 }" [navigation]="true" [loop]="true">
                            <ng-template swiperSlide><img src="assets/images/aham-taleemat-1.jpg" /></ng-template>
                            <ng-template swiperSlide><img src="assets/images/aham-taleemat-2.jpg" /></ng-template>
                            <ng-template swiperSlide><img src="assets/images/aham-taleemat-3.jpg" /></ng-template>
                            <ng-template swiperSlide><img src="assets/images/aham-taleemat-4.jpg" /></ng-template>
                            <ng-template swiperSlide><img src="assets/images/aham-taleemat-5.jpg" /></ng-template>
                        </swiper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-bless">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/bless-img.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <h2>BLESS YOUR SOUL</h2>
                <h5>Listen to all bayanats of</h5>
                <p>
                    Hazrat Aqdas Mufti Muhammad Arshad Sb.Bajhedi Damat barakatuhum & other akabir from silsilah
                    Imdadiyah Ashrafiyah on self-purification
                </p>
                <div class="center-mob-resp">
                    <button class="btn btn-primary view-more mt-3">DOWNLOAD BAITUL MAARIF APP</button>
                </div>
                <p class="mt-4">AND GET ACCESS TO HIGH QUALITY ISLAMIC CONTENT</p>
                <div class="row center-mob-resp">
                    <div class="col-12">
                        <img src="assets/images/logo-icon.png" class="img-fluid logo-icon-play" width="50" alt="">
                        <a href="https://play.google.com/store/apps/details?id=com.sarbakaf.baitulmaarif">
                            <img src="assets/images/app-download.png" class="img-fluid ml-4" width="155" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<total-visitors></total-visitors>


<loader></loader>