.btn-outline-secondary {
    transition: 0.5s;

    &:hover {
        background-color: #533603;
        transition: 0.5s;
    }
}

@media (min-width:1900px){
    .input-group{
        margin-top: 2rem;
    }
}