<div class="card shadow-sm border-0">
    <div class="card-body p-0 majlist-card-body">
        <div class="majlis" *ngFor="let bayan of dataMolanaBayanList" (click)="openBayanModal(bayan, bayanModal);">
            <a>
                <div class="row">
                    <div class="col-9 align-self-center">
                        <p class="mb-0 text-truncate">{{ bayan.Title }}</p>
                        <p class="mb-0 bayan-date-color">
                            {{ bayan.UrUploadDate | date: 'dd/MM/y' }} - {{	bayan.FileSize }}
                        </p>
                    </div>
                    <div class="col-3 align-self-center pl-0-resp-maj">
                        <div class="text-center text-nowrap">
                            <a title="Download" class="social-square"
											(click)="downloadFile(bayan.UrMp3Path, bayan.UrTitle)">
											<i class="fa fa-cloud-download" aria-hidden="true"></i>
										</a>
                            <a href="" title="Click to share">
                                <i class="fa fa-share-alt-square" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="py-2 text-center">
            <button class="btn btn-primary view-more" (click)="gotoTop()" routerLink="../Bayaandetaillist">View More...</button>
        </div>
    </div>
</div>

<ng-template #bayanModal let-modal>
	<div class="modal-header card-lbk">
		<p class="text-white mb-0 w-100 d-flex fw-semibold">
			<marquee behavior="scroll" direction="left" scrollamount="4">
				<p class="text-white mb-0 w-100 d-flex fw-semibold">{{ selectedBayan?.Title }}</p>
			</marquee>
		</p>
		<!-- <i class="fa fa-times-circle fa-2x text-danger btn-div position-absolute bg-white rounded-circle d-flex align-items-center justify-content-center" aria-hidden="true" (click)="modal.dismiss()"></i> -->
	</div>
	<div class="modal-body">
		<audio [src]="audioUrl" autoplay controls class="w-100 mb-3"></audio>
		<p class="font-16"><strong>Date :</strong> {{ selectedBayan?.UrUploadDate | date: 'dd/MM/y' }}</p>
		<p class="font-16"><strong>File Size :</strong> {{ selectedBayan?.FileSize }}</p>
		<p class="font-16"><strong>Voice :</strong> {{selectedBayan.Catagory}}</p>
		<p class="font-16 mb-0"><strong>Description :</strong> {{ selectedBayan?.Description }}</p>
	</div>
	<div class="modal-footer d-flex align-items-center justify-content-center">
		<!-- Download Button -->
		<a class="actionbtns"
			(click)="downloadFile(selectedBayan?.UrMp3Path, selectedBayan?.Title)">
			<i class="fa fa-cloud-download" aria-hidden="true"></i> Download
		</a>

		<!-- Share Button -->
		<a class="actionbtns" (click)="shareBayan(selectedBayan)">
			<i class="fa fa-share-alt" aria-hidden="true"></i> Share
		</a>

		<!-- Close Button -->
		<a class="actionbtns" (click)="modal.close()">Close</a>
	</div>
</ng-template>