<div class="bg-bless">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="assets/images/bless-img.png" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
                <h2>BLESS YOUR SOUL</h2>
                <h5>Listen to all bayanats of</h5>
                <p>
                    Hazrat Aqdas Mufti Muhammad Arshad Sb.Bajhedi Damat barakatuhum & other akabir from silsilah
                    Imdadiyah Ashrafiyah on self-purification
                </p>
                <div class="text-center text-sm-start">
                    <button class="btn btn-primary view-more mt-3">DOWNLOAD BAITUL MAARIF APP</button>
                </div>
                <p class="mt-4 text-center text-sm-start">AND GET ACCESS TO HIGH QUALITY ISLAMIC CONTENT</p>
                <div class="row text-center text-sm-start">
                    <div class="col-12">
                        <img src="assets/images/logo-icon.png" class="img-fluid me-3" width="48" alt="">
                        <a href="https://play.google.com/store/apps/details?id=com.sarbakaf.baitulmaarif">
                            <img src="assets/images/app-download.png" class="img-fluid ml-4" width="155" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>