<section class="fatawaAllCategory my-3 my-sm-5">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-5">
            <div class="col mb-3" *ngFor="let section of sections">
                <div #accordionWrapper class="accordion-wrapper h-100">
                    <ngb-accordion [closeOthers]="false" class="custom-accordion h-100"
                        activeIds="panel-{{ section.title }}">
                        <ngb-panel [id]="'panel-' + section.title" [title]="section.title">
                            <ng-template ngbPanelContent>
                                <p class="font-14 fw-semibold py-2 px-3 mb-0" *ngFor="let sub of section.subcategories">
                                    &#9658; {{ sub }}
                                </p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>
    </div>
</section>