.heading-text {
    background: rgb(221, 172, 84);
    background: linear-gradient(0deg, #241700 0%, #714904 100%);
    max-width: fit-content;

    p {
        border-bottom: dashed 1px #fff;
    }

    @media (max-width:450px) {
        max-width: unset;
    }
}

:host ::ng-deep {
    .page-link {
        color: var(--darkbran);
    }

    .page-link.active,
    .active>.page-link {
        background-color: var(--darkbran);
        border-color: var(--darkbran);
        color: #fff;
    }
}

.view-more {
    background-color: #794e01;
    font-size: var(--font-size-14);
    font-weight: 600;
}

.card-lbk {
    background: rgb(221, 172, 84);
    background: linear-gradient(0deg, #241700 0%, #714904 100%);
}

.img-outer-div {
    width: 80%;
    margin: 0 auto;
    height: 14vw;

    @media (max-width:600px) {
        height: 80vw;
        width: 100%;
    }
}

.img-thumbnail {
    transition: transform 0.5s;
    cursor: pointer;
    height: 100%;
    object-fit: fill;

    &:hover {
        -ms-transform: scale(1.07);
        -webkit-transform: scale(1.07);
        transform: scale(1.07);
    }

    @media (max-width:600px) {
        object-fit: fill;
    }
}