<div class="shortclip-audio">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-6 mb-3">
            <div class="border-custom p-2 pointer-event shadow" (click)="gotoTop()" routerLink="/full-video-view">
                <img src="assets/images/short-clip-1.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mb-3">
            <div class="border-custom p-2 pointer-event shadow" (click)="gotoTop()" routerLink="/full-video-view">
                <img src="assets/images/short-clip-2.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mb-3 d-none d-sm-block">
            <div class="border-custom p-2 pointer-event shadow" (click)="gotoTop()" routerLink="/full-video-view">
                <img src="assets/images/short-clip-3.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mb-3 d-none d-sm-block">
            <div class="border-custom p-2 pointer-event shadow" (click)="gotoTop()" routerLink="/full-video-view">
                <img src="assets/images/short-clip-4.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-3 col-6 mb-3 d-none d-sm-block"></div>
        <div class="col-lg-3 col-md-3 col-6 mb-3 d-none d-sm-block">
            <div class="border-custom p-2 pointer-event shadow" (click)="gotoTop()" routerLink="/full-video-view">
                <img src="assets/images/short-clip-5.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mb-3 d-none d-sm-block">
            <div class="border-custom p-2 pointer-event shadow" (click)="gotoTop()" routerLink="/full-video-view">
                <img src="assets/images/short-clip-6.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mb-3 d-none d-sm-block"></div>
    </div>
    
    <div class="py-4 text-center">
        <button class="btn btn-primary view-more" routerLink="/VideoGallery" (click)="gotoTop()">View More...</button>
    </div>
</div>