.card {
    border-radius: 1rem;
    box-shadow: 0 3px 3px #fcefd2;
}

.book-img {
    width: 150px;
}

.form-control:focus {
    box-shadow: none;
}

.btn-div {
    right: -10px;
    top: -10px;
    height: 20px;
    width: 20px;
    cursor: pointer;

    @media (max-width:450px) {
        right: 0;
        top: 0;
    }
}

.actionbtnsIslahi {
    .text-center {
        div {
            width: 40px;
            height: 40px;
            margin: 0 auto;
        }
    }

    div {
        cursor: pointer;
        margin-right: 2rem;

        &:last-child {
            margin-right: 0;
        }
    }

    p {
        font-size: var(--font-size-12);
    }
}

iframe{
    height: 85vh;
}

@media (max-width:425px) {
    .book-img {
        width: 50%;
    }

    .books-responsive {
        .font-14 {
            font-size: var(--font-size-12);
        }
    }
}