<section class="pt-3 pt-sm-5 overflow-hidden">
  <div *ngIf="loading" class="text-center py-4">
    <img src="assets/images/Spinner.svg" width="100" alt="">
  </div>
  <div id="slider" (mouseenter)="stopAutoSlide()" (mouseleave)="autoSlide()" *ngIf="!loading">
    <input type="radio" name="slider" id="s1" checked />
    <input type="radio" name="slider" id="s2" />
    <input type="radio" name="slider" id="s3" />
    <input type="radio" name="slider" id="s4" />
    <input type="radio" name="slider" id="s5" />

    <label for="s1" id="slide1">
      <img [src]="getImagePath(SliderImagePath1)" class="img-fluid" alt="Slide 1" />
    </label>

    <label for="s2" id="slide2">
      <img [src]="getImagePath(SliderImagePath2)" class="img-fluid" alt="Slide 2" />
    </label>

    <label for="s3" id="slide3">
      <img [src]="getImagePath(SliderImagePath3)" class="img-fluid" alt="Slide 3" />
    </label>

    <label for="s4" id="slide4">
      <img [src]="getImagePath(SliderImagePath4)" class="img-fluid" alt="Slide 4" />
    </label>

    <!-- Static Local Image for Slide 5 -->
    <label for="s5" id="slide5">
      <img src="assets/images/sliderDummy.png" class="img-fluid" alt="Static Slide 5" />
    </label>
  </div>
</section>