<section class="pt-3 pt-sm-5 overflow-hidden">
    <div id="slider" (mouseenter)="stopAutoSlide()" (mouseleave)="autoSlide()">
        <input type="radio" name="slider" id="s1" checked>
        <input type="radio" name="slider" id="s2">
        <input type="radio" name="slider" id="s3">
        <input type="radio" name="slider" id="s4">
        <input type="radio" name="slider" id="s5">
        
        <label for="s1" id="slide1">
            <img src="assets/images/slide-01.jpg" class="img-fluid" alt="Random first slide">
        </label>
        <label for="s2" id="slide2">
            <img src="assets/images/slide-02.jpg" class="img-fluid" alt="Random first slide">
        </label>
        <label for="s3" id="slide3">
            <img src="assets/images/slide-03.jpg" class="img-fluid" alt="Random first slide">
        </label>
        <label for="s4" id="slide4">
            <img src="assets/images/slide-01.jpg" class="img-fluid" alt="Random first slide">
        </label>
        <label for="s5" id="slide5">
            <img src="assets/images/slide-02.jpg" class="img-fluid" alt="Random first slide">
        </label>
    </div>
</section>
