<div class="container py-4">
    <div class="heading-text mx-auto py-2 px-3 rounded-1 text-center mb-sm-0">
        <p class="h4 mb-0 text-white mb-0 pb-1">
            Islahi Books
        </p>
    </div>
    <div class="row my-4">
        <div class="col-md-7 align-self-center mx-auto">
            <div class="input-group">
                <span class="input-group-text">
                    <img src="assets/images/search.png" width="20" alt="">
                </span>
                <input type="text" class="form-control" placeholder="Search Your Book">
                <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-sm-6 mb-4" *ngFor="let item of items">
            <div class="card">
                <div class="card-body">
                    <div class="d-inline-flex d-sm-flex flex-column-reverse flex-sm-row books-responsive">
                        <div class="me-0 me-sm-3">
                            <p class="font-14 mb-1">
                                <span class="fw-semibold">Writer:</span> 
                                {{item.writer}}
                            </p>
                            <p class="font-14 mb-1"><span class="fw-semibold">Book Name:</span> {{item.name}}</p>
                            <p class="font-14 mb-1"><span class="fw-semibold">Topic:</span> {{item.topic}} </p>
                            <p class="font-14 mb-1"><span class="fw-semibold">Description:</span> {{item.description}} </p>
                            <div
                                class="d-flex justify-content-center justify-content-sm-start align-items-center actionbtnsIslahi">
                                <div class="text-center d-none d-sm-block" (click)="openPdfModal(pdfModal, item.pdfUrl)">
                                    <div class="d-flex align-items-center justify-content-center rounded-5 border">
                                        <i class="fa fa-leanpub"></i>
                                    </div>
                                    <p class="mb-0">Read Online</p>
                                </div>
                                <div class="text-center" (click)="downloadPdf(item.pdfUrl, item.name)">
                                    <div class="d-flex align-items-center justify-content-center rounded-5 border">
                                        <i class="fa fa-cloud-download"></i>
                                    </div>
                                    <p class="mb-0">Download</p>
                                </div>
                                <div class="text-center" (click)="sharePdf(item.pdfUrl, item.name)">
                                    <div class="d-flex align-items-center justify-content-center rounded-5 border">
                                        <i class="fa fa-share-alt-square"></i>
                                    </div>
                                    <p class="mb-0">Share</p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center mb-3 mb-sm-0">
                            <img [src]="item.imgUrl" alt="{{ item.name }}" class="book-img rounded" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #pdfModal let-modal>
    <div class="modal-body">
        <i class="fa fa-times-circle fa-2x text-danger btn-div position-absolute bg-white rounded-circle d-flex align-items-center justify-content-center"
            aria-hidden="true" (click)="modal.dismiss()"></i>
        <iframe [src]="sanitizedPdfUrl" class="img-fluid shadow-sm w-100" type="application/pdf"></iframe>
    </div>
</ng-template>