.majlis {
    border-bottom: solid 1px #2c2929;
    padding-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    transition: 0.5s;
    cursor: pointer;

    a {
        text-decoration: none;
        color: #000;
    }

    i {
        font-size: 14px;
        background-color: #ffffff;
        padding: 6px;
        border-radius: 20px;
        border: solid 1px #000000;
        margin: 2px;
        width: 30px;
        height: 30px;
    }

    &:hover {
        background-color: #f2f2f2;
        transition: 0.5s;

        a {
            color: #794e01;
            text-decoration: underline;
        }

        i {
            color: #000;
        }
    }
}

.view-more {
    background-color: #794e01;
    border: none;
    border-radius: 1rem;
    padding: 4px 10px;
    font-size: 0.8rem;
    font-weight: 600;
}

.majlist-card-body {
    border: solid 2px #000;

    p {
        font-size: 0.8rem;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.card-lbk {
    background: rgb(221, 172, 84);
    background: linear-gradient(0deg, #241700 0%, #714904 100%);
    color: #fff;
}

.bayan-date-color {
    color: #a1a1a1;
}

@media(max-width:450px) {
    .pl-0-resp-maj {
        padding-left: 0;
    }
}