<h5 class="fw-semibold mb-4">Islahi Bayan</h5>
<div class="audio-circle-div">
    <div class="audio-circle bg-white p-3 d-flex align-items-center justify-content-center">
        <div *ngIf="loading" class="text-center">
            <img src="assets/images/loader.gif" width="100" alt="">
        </div>
        <div class="audio-div" *ngIf="!loading">
            <!-- Live Broadcasting Header with ON AIR/OFF AIR status -->
            <div class="mb-3 d-flex align-items-center justify-content-center">
                <div class="icon-bg" *ngIf="isAudioPlaying">
                    <i class="fa fa-microphone fa-2x text-white" aria-hidden="true"></i>
                </div>
                <div class="icon-bg" *ngIf="!isAudioPlaying">
                    <i class="fa fa-microphone-slash fa-2x text-white" aria-hidden="true"></i>
                </div>
            </div>
            <div *ngFor="let bayan of dataMolanaBayanList">
                <p class="my-3 fw-semibold bayanTitle" [title]="bayan.Title">{{ bayan.Title }}</p>
                <audio [src]="this.baseUrl + bayan.Mp3Path" controls class="w-100 mb-3 audio-player" (error)="handleAudioError()" (playing)="updateAudioState($event)" (pause)="updateAudioState($event)"></audio>
                <p *ngIf="audioError" class="text-center text-danger font-14 fw-semibold">Audio file unavailable, Please try again later</p>
                <p class="mt-2 mb-1 fw-semibold text-truncate" [title]="bayan.Catagory">Voice: {{bayan.Catagory}}</p>
                <p class="fw-semibold">{{ bayan.UploadDate | date: 'd MMMM y' }}</p>
                <div class="player-btn-border d-flex justify-content-center align-items-center">
                    <a (click)="downloadFile(bayan.UrMp3Path, bayan.UrTitle)" class="actionbtns me-3" download>
                        <i class="fa fa-download me-2" aria-hidden="true"></i>
                        <span class="ml-2">Download</span>
                    </a>
                    <a class="actionbtns">
                        <i class="fa fa-share me-2" aria-hidden="true"></i>
                        <span class="ml-2">Share</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>