<div class="bg-light py-4 shortclip-audio">
    <div *ngIf="isLoading" class="text-center">
        <img src="assets/images/Spinner.svg" width="100" alt="">
    </div>
    <div class="container" *ngIf="!isLoading">
        <div class="heading-text mx-auto py-2 px-3 rounded-1 text-center mb-4">
            <p class="h4 mb-0 text-white mb-0 pb-1">
                Short Audio Clips
            </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-6 mb-4" *ngFor="let clip of paginatedVideos">
                <div (click)="openModal(content, clip)" class="m-0 m-sm-3">
                    <img [src]="clip.ImagePath ? baseUrl + clip.ImagePath : 'assets/images/shortClipDefault.png'" alt="" class="img-thumbnail shadow">
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-center mt-4">
            <ngb-pagination [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="totalItems"></ngb-pagination>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header px-0 pt-3 pb-2 cardHeadingHeader">
		<div class="w-100">
			<marquee behavior="scroll" direction="left" scrollamount="4">
                <p class="text-white mb-0 w-100 d-flex fw-semibold">{{ selectedVideo?.Title }}</p>
            </marquee>
		</div>
    </div>
    <div class="modal-body">
        <video width="100%" height="auto" class="border p-2 rounded mb-2" controls [poster]="baseUrl + selectedVideo?.ImagePath" autoplay>
            <source [src]="baseUrl + selectedVideo?.Mp4path" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <!-- Fallback -->
        <p class="text-center text-danger font-16 fw-medium" *ngIf="!selectedVideo?.Mp4path">
            Video unavailable. Please try again later.
        </p>          
        <p class="font-16 mb-2"><strong>Molana Name: </strong>{{ selectedVideo?.MolanaName }}</p>
        <p class="font-16 mb-2"><strong>File Size: </strong>{{ selectedVideo?.FileSize }}</p>
        <p class="font-16 mb-2"><strong>Upload Date: </strong>{{ selectedVideo?.UploadDate | date:'mediumDate' }}</p>
        <p class="font-16 mb-0"><strong>Views: </strong>{{ selectedVideo?.CountViews }}</p>
    </div>
    <div class="modal-footer d-flex align-items-center justify-content-center">
        <!-- Download Button -->
        <a class="actionbtns" (click)="downloadVideo(selectedVideo)">
          Download
        </a>
    
        <!-- Share Button -->
        <a class="actionbtns" (click)="shareVideo(selectedVideo)">
          Share
        </a>
    
        <!-- Close Button -->
        <a class="actionbtns" (click)="modal.close('Save click')">Close</a>
      </div>
</ng-template>