.btn-success {
    background: #432b01;
    border: solid 1px #432b01;
}

.card-lbk {
    background: rgb(221, 172, 84);
    background: linear-gradient(0deg, #241700 0%, #714904 100%);
    color: #fff;
}