<h5 class="mb-5 fw-bold">Next Majlis After</h5>
<div class="countdown card shadow-sm">
    <div class="card-body card-bayan-bg p-2">
        <div class="d-flex align-items-center justify-content-between">
            <div class="cowndown-div mb-0 font-weight-bold position-relative" id="days">
                <img src="assets/images/points.PNG" class="position-absolute bullets-1" alt="">
                <p class="mb-0 table-bg">{{daysToDday}}</p>
                <p class="mb-0 clock-color">Day</p>
                <img src="assets/images/points.PNG" class="position-absolute bullets-2" alt="">
            </div>
            <div class="cowndown-div mb-0 font-weight-bold position-relative" id="hours">
                <img src="assets/images/points.PNG" class="position-absolute bullets-1" alt="">
                <p class="mb-0 table-bg">{{hoursToDday}}</p>
                <p class="mb-0 clock-color">Hrs</p>
                <img src="assets/images/points.PNG" class="position-absolute bullets-2" alt="">
            </div>
            <div class="cowndown-div mb-0 font-weight-bold position-relative" id="mins">
                <img src="assets/images/points.PNG" class="position-absolute bullets-1" alt="">
                <p class="mb-0 table-bg">{{minutesToDday}}</p>
                <p class="mb-0 clock-color">Min</p>
                <img src="assets/images/points.PNG" class="position-absolute bullets-2" alt="">
            </div>
            <div class="cowndown-div mb-0 font-weight-bold position-relative" id="seconds">
                <img src="assets/images/points.PNG" class="position-absolute bullets-1" alt="">
                <p class="mb-0 table-bg">{{secondsToDday}}</p>
                <p class="mb-0 clock-color">Sec</p>
                <img src="assets/images/points.PNG" class="position-absolute bullets-2" alt="">
            </div>
        </div>
        <hr class="my-2">
        <p class="mb-0 masjid-hakemul">Masjid Hakemul ummat ,jamiatul Abrar,Bjhedi</p>
    </div>
</div>