<section class="py-3 py-sm-5">
    <div class="container">
        <div class="row text-center">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4 mb-sm-0">
                <div class="heading-text mx-auto py-2 px-3 rounded-1 text-center mb-2">
                    <p class="h4 mb-0 text-white mb-0 pb-1">
                        13 Lines Quran Paak
                    </p>
                </div>
                <div class="pdf-container">
                    <iframe src="assets/pdf/Quran-Majeed-13-Line.pdf" class="img-thumbnail shadow-sm" type="application/pdf"></iframe>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4 mb-sm-0">
                <div class="heading-text mx-auto py-2 px-3 rounded-1 text-center mb-2">
                    <p class="h4 mb-0 text-white mb-0 pb-1">
                        15 Lines Quran Paak (Hafzi)
                    </p>
                </div>
                <div class="pdf-container">
                    <iframe src="assets/pdf/Quran-Majeed-15-Line.pdf" class="img-thumbnail shadow-sm" type="application/pdf"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>