<div class="container py-4">
	<div class="card shadow-sm">
		<div class="card-header text-center cardHeadingHeader px-0 pb-1">
			<div>
				<p class="text-white mb-2 font-24">Mufti Muhammad Mujahid Khairabadi</p>
			</div>
		</div>
		<div class="p-0 p-sm-3 card-body">
			<div class="mb-0 mb-sm-3 p-3 p-sm-0">
				<input type="text" class="form-control shadow-sm rounded-1" placeholder="Search Bayaan by Title" [(ngModel)]="searchTerm" (ngModelChange)="onSearchChange()" />
			</div>

			<div *ngIf="loading" class="text-center py-4">
				<img src="assets/images/Spinner.svg" width="100" alt="Loading..." />
			</div>

			<div *ngIf="!loading">
				<div class="table-responsive" *ngIf="filteredJumaByanList.length > 0; else noRecord">
					<table class="table table-bordered">
						<thead>
							<tr class="bg-light">
								<th scope="col">Title</th>
								<th class="text-center d-none d-sm-table-cell" scope="col">Date</th>
								<th class="text-center d-none d-sm-table-cell" scope="col">Size</th>
								<th class="text-center" scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let bayan of filteredJumaByanList">
								<td class="majlis" (click)="openBayanModal(bayan, bayanModal)">
									<div>
										<div class="fw-semibold text-truncate-20" [title]="bayan.Title">
											{{ bayan.Title }}
										</div>
										<span class="date d-block d-sm-none">
											{{ bayan.UploadDate | date: 'dd/MM/y' }} - {{ bayan.FileSize }}
										</span>
									</div>
								</td>
								<td class="text-center d-none d-sm-table-cell">
									{{ bayan.UploadDate | date: 'dd/MM/y' }}
								</td>
								<td class="text-center d-none d-sm-table-cell">
									{{ bayan.FileSize }}
								</td>
								<td class="text-center verticale-align pb-0">
									<ul class="social-icons mb-0 d-flex align-items-center justify-content-center">
										<li>
											<a class="social-square" title="Download"
												(click)="downloadFile(bayan.Mp3Path, bayan.Title)">
												<i class="fa fa-cloud-download" aria-hidden="true"></i>
											</a>
										</li>
										<li>
											<a class="social-square" title="Share" (click)="shareBayan(bayan)">
												<i class="fa fa-share-alt-square" aria-hidden="true"></i>
											</a>
										</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<ng-template #noRecord>
				<div class="text-center">
					<p class="mb-0 py-2">No Record Found</p>
				</div>
			</ng-template>

			<!-- <div class="d-flex justify-content-between flex-wrap p-2 p-sm-0">
				<ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
					(pageChange)="onPageChange()" [boundaryLinks]="true"></ngb-pagination>

				<select class="form-select form-select-sm" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()"
					style="width: auto">
					<option [ngValue]="5">5 Bayaan Per Page</option>
					<option [ngValue]="10">10 Bayaan Per Page</option>
					<option [ngValue]="20">20 Bayaan Per Page</option>
				</select>
			</div> -->
			<div class="d-flex justify-content-between align-items-center flex-wrap p-2 p-sm-0 ngbPagination">
				<ngb-pagination class="mb-3 mb-sm-0 mx-auto mx-sm-0" [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
				(pageChange)="onPageChange()" [boundaryLinks]="true">
				</ngb-pagination>

				<select class="form-select shadow-none" [(ngModel)]="pageSize" (ngModelChange)="onPageSizeChange()">
					<option [ngValue]="5">5 Bayaan Per Page</option>
					<option [ngValue]="10">10 Bayaan Per Page</option>
				</select>
			</div>
		</div>
	</div>
</div>

<ng-template #bayanModal let-modal>
	<div class="modal-header px-0 pt-3 pb-2 cardHeadingHeader">
		<div class="w-100">
			<marquee behavior="scroll" direction="left" scrollamount="4">
                <p class="text-white mb-0 w-100 d-flex fw-semibold">{{ selectedBayan?.Title }}</p>
            </marquee>
		</div>
    </div>
	<div class="modal-body">
		<div *ngIf="loadingAudio" class="text-center">
			<img src="../../../../../assets/images/Spinner.svg" width="50" alt="">
			<p class="text-success mt-2">Audio is loading, please wait...</p>
		</div>
		<audio *ngIf="!loadingAudio" [src]="audioUrl" autoplay controls (canplay)="onAudioLoad()" (error)="handleAudioError()" class="w-100 mb-3"></audio>
		<p><strong>Voice:</strong> {{ selectedBayan?.MolanaName }}</p>
		<p><strong>Date:</strong> {{ selectedBayan?.UploadDate | date: 'dd/MM/y' }}</p>
		<p><strong>File Size:</strong> {{ selectedBayan?.FileSize }}</p>
		<p><strong>Description:</strong> {{ selectedBayan?.Descriptions }}</p>
	</div>
	<div class="modal-footer d-flex justify-content-center">
		<a (click)="downloadFile(selectedBayan?.Mp3Path, selectedBayan?.Title)" class="actionbtns">
			<i class="fa fa-cloud-download"></i> Download
		</a>
		<a (click)="shareBayan(selectedBayan)" class="actionbtns">
			<i class="fa fa-share-alt"></i> Share
		</a>
		<a (click)="modal.close()" class="actionbtns">Close</a>
	</div>
</ng-template>