<div class="card bg-transparent border-custom">
  <div class="card-header card-lbk">
    <h5 class="mb-0 border-bottom-dotted">Latest Book</h5>
  </div>
  <div class="card-body pt-0 hover-show-icon">
    <div *ngIf="isLoading" class="text-center">
      <img src="assets/images/loader.gif" width="100" alt="Loading..." />
    </div>
    <swiper *ngIf="!isLoading" class="py-0" [grabCursor]="true" [autoplay]="{ delay: 3000, disableOnInteraction: false }" [loop]="true"
      [effect]="'creative'"
      [creativeEffect]="{ prev: { shadow: true, translate: [0, 0, -400] }, next: { translate: ['100%', 0, 0] } }">
      <ng-template swiperSlide *ngFor="let clip of dataLatestBooksList">
        <div class="team-area">
          <div class="team-content">
            <div class="team-img">
              <img [src]="baseUrl + clip.UrImagePath" class="img-fluid rounded-2" alt="Book Image" />
              <div class="overlay team-2 radious-1">
                <div class="social-icon only-social-icon team-icon-2">
                  <ul>
                    <li>
                      <a (click)="openPdfModal(clip.UrPdfPath)">
                        <i class="fa fa-leanpub"></i>
                      </a>
                      <span>Read Online</span>
                    </li>
                    <li>
                      <a (click)="downloadPdf(clip.UrPdfPath)">
                        <i class="fa fa-cloud-download"></i>
                      </a>
                      <span>Download</span>
                    </li>
                    <li>
                      <a (click)="sharePdf(clip.UrPdfPath)">
                        <i class="fa fa-share-alt-square"></i>
                      </a>
                      <span>Share</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  </div>
</div>

<!-- Modal Template for Reading PDF Online -->
<ng-template #pdfModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Read Online</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <iframe [src]="pdfUrl | safeUrl" width="100%" height="500px"></iframe>
  </div>
</ng-template>
