<div class="card border-0 bg-transparent">
    <div class="card-header text-center cardHeadingHeader px-0 pb-1 mb-1">
        <div>
            <p class="text-white mb-2 font-20 fw-semibold">Juma Bayaan</p>
        </div>
    </div>
    <div class="card-body p-0 position-relative">
        <!-- position-absolute -->
        <div *ngIf="loading" class="text-center JumaLoader">
            <img src="assets/images/Spinner.svg" width="100" alt="">
        </div>
        <img src="assets/images/juma-bayan-bg.png" class="img-fluid" alt="">
        <div class="juma-bayan-bg position-absolute" *ngIf="!loading">
            <div *ngFor="let bayan of dataJumaByanList">
                <p class="mb-0 px-3 px-sm-0 font-20 fw-semibold mx-auto">{{ bayan.Title }}</p>
                <div class="juma-bayan-player-positin">
                    <div class="player my-2 my-sm-4">
                        <audio [src]="this.baseUrl + bayan.Mp3Path" controls class="w-100 audio-player"
                            (error)="handleAudioError()"></audio>
                    </div>
                    <div class="my-2 my-sm-4">
                        <p class="mb-2 mb-sm-3 font-16 fw-semibold mx-auto">{{ bayan.MolanaName }}</p>
                        <p class="mb-0 font-16 fw-semibold mx-auto">{{ bayan.UploadDate | date: 'dd/MM/y' }}</p>
                    </div>
                    <div class="player-btn-border d-flex justify-content-center align-items-center flex-wrap">
                        <a class="actionbtns mb-2 mb-sm-0" download
                            (click)="downloadFile(bayan.UrMp3Path, bayan.Title)">
                            <i class="fa fa-download me-2" aria-hidden="true"></i>
                            <span class="ml-2">Download</span>
                        </a>
                        <a class="actionbtns mb-2 mb-sm-0 mx-2">
                            <i class="fa fa-share me-2" aria-hidden="true"></i>
                            <span class="ml-2">Share</span>
                        </a>
                        <a class="actionbtns mb-2 mb-sm-0" [routerLink]="'../JumaBayanList'" (click)="gotoTop()">
                            <i class="fa fa-list me-2" aria-hidden="true"></i>
                            <span class="ml-2">View More...</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>