<div class="container py-4 d-none">
    {{bayanDetail}}
  <h2>{{ bayanDetail?.Title }}</h2>
  <p><strong>Date:</strong> {{ bayanDetail?.UploadDate | date: 'dd/MM/y' }}</p>
  <p><strong>File Size:</strong> {{ bayanDetail?.FileSize }}</p>
  <p><strong>Description:</strong> {{ bayanDetail?.Descriptions }}</p>

  <!-- Embed an audio player for the MP3 file -->
  <audio controls *ngIf="bayanDetail?.UrMp3Path">
    <source [src]="bayanDetail.UrMp3Path" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
</div>


<div class="container py-4">
    <div class="row text-center">
        <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
            <div class="card shadow">
                <div class="card-header card-lbk px-0">
                    <div class="sub-head">
                        <h6 class="mb-0">Arif billah Hazrat Aqdas</h6>
                        <h5 class="mb-0">Mufti Muhammad Arshad Sb.D.B</h5>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="my-0 bayan-title">#01 Khun-e-Tamanna Se Khuda Milta</h3>
                    <audio controls preload="metadata" class="my-3 audio-player">
                        <source src="https://www.w3schools.com/html/horse.ogg" type="audio/ogg">
                    </audio>
                    <div class="my-0 table-audio-detail">
                        <table class="table table-borderless text-start">
                            <tbody>
                              <tr>
                                <th scope="row" class="width-custom">Date:</th>
                                <td>20/12/2023</td>
                              </tr>
                              <tr>
                                <th scope="row">File Size:</th>
                                <td>10.05 MB</td>
                              </tr>
                              <tr>
                                <th scope="row">Description:</th>
                                <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                              </tr>
                            </tbody>
                        </table>
                        <div class="player-btn-border d-flex justify-content-between align-items-center">
                            <a class="actionbtns" (click)="goBack()">
                                <i class="fa fa-arrow-circle-left me-2" aria-hidden="true"></i>
                                <span class="ml-2">Go Back</span>
                            </a>
                            <a class="actionbtns" download>
                                <i class="fa fa-download me-2" aria-hidden="true"></i>
                                <span class="ml-2">Download</span>
                            </a>
                            <a class="actionbtns">
                                <i class="fa fa-share me-2" aria-hidden="true"></i>
                                <span class="ml-2">Share</span>
                            </a>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<loader></loader>