<div class="container py-4">
    <div class="heading-text mx-auto py-2 px-3 rounded-1 text-center mb-4">
        <p class="h4 mb-0 text-white mb-0 pb-1">
            The Holy Quran Paak MP3
        </p>
    </div>

    <!-- Search Input -->
    <div class="row text-center">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4">
            <select class="form-select form-select-border shadow-sm rounded-1" [(ngModel)]="selectedSheikh" (change)="onSheikhChange()">
                <option value="Sheikh Mishary Rashid Alafasy">Sheikh Mishary Rashid Alafasy</option>
                <option value="Sheikh Abdullah Basfar">Sheikh Abdullah Basfar</option>
                <option value="Sheikh Bandar Baleelah">Sheikh Bandar Baleelah</option>
            </select>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4">
            <input type="text" [(ngModel)]="searchTerm" class="form-control shadow-sm rounded-1" placeholder="Search by Surah number or name">
        </div>
    </div>

    <div class="row">
        <div class="col-xxl-3 col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-4" *ngFor="let surah of filteredSurahs()">
            <div class="card shadow">
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between">
                        <p class="fw-bold font-18">
                            {{ surah.surahNumber }} - {{ surah.surahName }}
                        </p>
                        <p class="font-12 text-success fw-semibold">{{surah.reader}}</p>
                    </div>
                    <audio controls [attr.aria-label]="'Audio for ' + surah.surahName">
                        <source [src]="surah.audioUrl" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-center mt-3">
        <ngb-pagination [collectionSize]="surahs.length" [(page)]="currentPage" [maxSize]="3" [pageSize]="pageSize" (pageChange)="onPageChange($event)">
        </ngb-pagination>
    </div>
</div>
